
<h1><%= title %> </h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <!-- If the user is signed in then only locals will have user field and then only show this form -->
    <% if(locals.user){ %> 
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %> 
</section>

<div id="posts_container">
    <ul>
        <% for(let post of posts){ %>
            
            <li> 
                <p>
                    <%= post.content %>
                    <br>
                    <small>
                        <%=post.user.name%>
                    </small>
                </p> 
                <div class="post-comments">
                    <% if(locals.user){ %> 
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Comment here...">
                            <input type="hidden" name="post" value=<%= post._id %>>
                            <input type="submit" value="Add Comment">
                        </form>
                    <% } %> 
                </div>
                <div class="post-comments-list">
                    <ul id="post-comments-<%= post._id %> ">
                        <% for(let comment of post.comments){ %> 
                            <p>
                                <%= comment.content %> 
                                <br>
                                <small>
                                    <%= comment.user.name %> 
                                </small>
                            </p>
                        <% } %> 
                    </ul>
                </div>
            </li>
            
            
        <% } %>  
    </ul>
</div>


